<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549286074288-k8gok62i1iva4igfvr8tr7nvlholecsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549286074288-k8gok62i1iva4igfvr8tr7nvlholecsm</string>
	<key>API_KEY</key>
	<string>AIzaSyDKW4hoqBEFFgQ3Mwg5TdUk_EErzFSsB10</string>
	<key>GCM_SENDER_ID</key>
	<string>549286074288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gobelins.bddi.11bis</string>
	<key>PROJECT_ID</key>
	<string>bis-4401f</string>
	<key>STORAGE_BUCKET</key>
	<string>bis-4401f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549286074288:ios:6d37a9ceefdb9b16206875</string>
	<key>DATABASE_URL</key>
	<string>https://bis-4401f.firebaseio.com</string>
</dict>
</plist>